.App {
  text-align: center;
}
.Header {
  /* write your parent styles in here for your App.js */

  font-size: 6rem;
  font-family: 'Creepster', cursive;
  letter-spacing: 0.3rem;
  color: #69C8ECFF;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #005851;
  text-shadow: 2px 2px 2px #AEFF00;
}


